<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Creative Work</h2>

<div class="d-flex flex-wrap gutter-condensed github-component position-relative height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">

	<iframe width="560" height="315" src="https://www.youtube.com/embed/-QWEc4M4QO8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<div class="spacer"></div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/v72jtZw0nKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<div class="spacer"></div>

</div>
